.radial {
/*    background-size: cover;
    background-image: url('/common/img/bg1.png');
    background-position-y: -2px;
    background-position-x: -12px;
    */
    overflow: hidden;
    /*cursor: url("/common/img/up.png") 0 32, default !important;*/
}
.descrizione {background-color:rgba(255,255,255,0.3);}
.my_inner{
    position: relative;
}
.red_background{
background-color: darkblue;
}
.arr_2 > p{
color: white;

}
h1 > span > strong {
color: white;

}
.myrss{
background-color: darkblue !important;
color: white !important;
}
.notizia{
width: 85% !important;
float: right;
}
