.radial {
    background-size: cover;
    background-image: url('');
    background-position-y: -2px;
    background-position-x: -12px;
    
    overflow: hidden;
    /*cursor: url("/common/img/up.png") 0 32, default !important;*/
}
.descrizione {
/*
 * background-color:rgba(255,255,255,0.3);
 **/
}
.my_inner{
    position: relative;
}
.red_background{
background-color: darkblue !important;
}
.arr_2 > p{
	color: darkblue;
}
h1 > span > strong {
	color: white;
}
.myrss{
/*
 * background-color: darkblue !important;
 * */
color: white !important;
}
.notizia{
	width: 65% !important;
	float: right;
	max-height: 1200px !important;
}
.scroll_text > * {
	font-size: 45px;
    line-height: 1.5 !important;
    
}
.scroll_text {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 35px;
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
    line-height: 1.5 !important;
    list-style-type: square;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 4px darkblue;
}

#freccia {
    position: fixed;
    width: 49%;
    height: auto;
    bottom: 1%;
    /* left: 130px; */
    right: -12%;
}
