.radial {
    background-size: cover;
    background-image: url('http://www.di-vision.org/monastero/images/bg1.jpg');
    background-position-y: -2px;
    background-position-x: -12px;
    overflow: hidden;
}
.my_inner{
    position: relative;
}
.red_background{
    background-color: darkgreen !important;
}
.arr_2 > p{
    color: darkgreen;
}
h1 > span > strong {
    color: white;
}
.myrss{
    color: white !important;
}
.notizia{
    width: 100% !important;
    float: right;
    max-height: 1200px !important;
}
.scroll_text > * {
    font-size: 45px;
    line-height: 1.5 !important;
}
.scroll_text {
    font-family: "Tahoma", Geneva, sans-serif;
    font-size: 35px;
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
    line-height: 1.5 !important;
    list-style-type: square;
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 4px darkblue;
}