@media only screen and (max-width: 500px) {
    body {
        min-height: 500px;
        min-width: 270px;
    }
    iframe, .carousel-caption {
        display: none;
    }
    
    .red_background{
        font-size: medium;
    }
    .scroll_text {
        font-size: medium !important;
        overflow: auto;
    }
    .allNews{
        height: 170px;
        position: relative;
        margin-top: 5px;
    }
    
}

.my_carousel {
    position: relative;
    display: block;
}
.my_image {
    overflow: hidden;
    width: 100%;
    display: none;
}

.carousel_img{
    position: relative;
    width: 100%;
}
.shown{
    display: block;
}

.activate{}

.img-circle{
    border-radius: 0;
}
#right.img-circle{
    width: 33%;
    float: left;
}

#left.img-circle{
    width: 33%;
    float: left;
}
#stop.img-circle{
    width: 33%;
    float: left;
}

.glyphicon{
    display: none;
}
.interaction {
    height: 480px;
    background-color: rgba(0,0,0,0.8);
    position: relative;
    margin: 0 auto;
    border-radius: 47px;
}
.modal-content{
    background-color: rgba(255,255,255,0.8);
}
.modal-dialog{
    width: 95%;
}
.mymodal-inner-logo{
    width: 15%;
}
.ubu-orange{
    background-color: #dd4814;
}
.box-msg-1, .box-msg-2 {
    display: block;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border: 1px solid white;
    left: 0;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}

.box-msg-2 {
    float: right !important;
    position: relative;
    background-image: url('http://www.hubanero.it/images/giochi.jpg');
}
.box-msg-1 {
    background-image: url('http://www.hubanero.e it/images/giochi.jpg');
}


.my-frame {
    border: 1x solid red !important;
    width: 92%;
    height: 350px;
    position: relative;
    border: 1px solid red;
    margin: 0 auto;
    top: 13%;
}
iframe, object, embed {
    width: 102%;
    overflow-y: hidden;
    position: fixed;
    bottom: 0;
    left: -1%;
}
#total{
    position: relative;
}
.iframes{
    position: relative;
    padding: 2% !important;
    
}
.iframe-wrapper{
    height: 154px;
    border: 1px solid;
    z-index: 999;
    width: 101%;
    margin: 0 auto;
    position: fixed;
    bottom: 0;
    left: -1%;
    overflow: hidden;
    background-image: url('/common/img/bgx.jpg');
    background-position-y: -47px;
}