@media only screen and (max-width: 500px) {
    iframe {
        display: none;
    }
    .col-md-12 {
        display:none;
    }
}


.my_carousel {
    position: relative;
    display: block;
}
.my_image {
    overflow: hidden;
    width: 100%;
    display: none;
}

.carousel_img{
    position: relative;
    width: 100%;
}
.shown{
    display: block;
}

.activate{}
